@font-face {
    font-family: titleFont;
    src: url(../fonts/Draconis.otf);
  }
  

.btn-con{
    border-radius: 15px;
    text-align: center;
    color: #FAF9F6;
    height: 65px;
}

.btn-con:hover{
    cursor: url('../cursor_down.gif'),auto;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3) !important;
    border: 2px solid #FAF9F6;
}

.btn-title{
    font-family: titleFont;
}

.btn-desc{
    font-family: "bookmania", serif;
    font-weight: 100;
    margin-top: -5px;
}

.header-btn-wrapper{
    text-decoration: none;
}