@font-face {
    font-family: titleFont;
    src: url(../fonts/Draconis.otf);
  }

.img-logo{
    width: 48px;
    text-align: center;
}


.logo-link{
    font-family: titleFont;
    font-weight: 100;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: -7%;
}

.navbar{  
    display: block !important;
    width: 15%;
    height: 210vh;
    padding-top: 30px; 
    background-color: #C73032;
    color: #FAF9F6 ;
}

.navbar-list{
    position: sticky;
    top: 15vh;
    width: 100%;
    list-style: none;
}
.navbar-item, .navbar-link, .logo-link{
    text-decoration: none;
    color: #FAF9F6;
}

.navbar-item{
    width: 60%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 3vh;
    font-family: "Bookmania",serif;
}

.bg3-mode{
    position: sticky;
    top: 80%;
    text-align: center;
    margin-top: 15vh;
    margin-left: 10%;
    width: 80%;
}


.line-brder{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3vh;
    border-bottom: 2px solid #FAF9F6;
    border-radius: 5%;
}

.navbar-item:hover{
    font-weight: bold;
    border-block-end: 2px solid #FAF9F6;
}

.navbar-link:hover, .logo-link:hover ,.nav-logo:hover{
    cursor: url('../cursor_down.gif'),auto !important;
}

.bg3-mode:hover{
    font-weight: bold;
    cursor: url('../cursor_down.gif'),auto !important;
}

.nav-logo{
    cursor: pointer;
    border-bottom: none !important;
}


.bx{
    margin-right: 5px;
}
