@font-face {
    font-family: titleFont;
    src: url(../fonts/Draconis.otf);
  }

.img-logo{
    width: 48px;
    text-align: center;
}


.logo-link{
    font-family: titleFont;
    font-weight: 100;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: sticky !important;
    top: 0;    
    width: 15%;
    height: 104vh;
    margin-top: -3vh;
    padding-top: 30px;
    background-color: #C73032;
    color: #FAF9F6 ;
}

.navbar-list{
    width: 100%;
    list-style: none;
}
.navbar-item, .navbar-link, .logo-link{
    text-decoration: none;
    color: #FAF9F6;
}

.navbar-item{
    width: 60%;
    margin-left: 10%;
    
    text-align: center;
    margin-bottom: 3vh;
}

.bg3-mode{
    text-align: center;
    margin-top: 15vh;
}

.line-brder{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3vh;
    border-bottom: 2px solid #FAF9F6;
    border-radius: 5%;
}

.navbar-item:hover{
    font-weight: bold;
    border-bottom: 2px solid #FAF9F6;
    cursor: pointer;
}

.nav-logo{
    cursor: pointer;
    border-bottom: none !important;
}