@font-face {
    font-family: titleFont;
    src: url(../fonts/Draconis.otf);
  }

  
.slider-title{
    font-family: titleFont;
}

.slider-val{
    font-family: "bookmania", serif;
}

  /* Sliders styling */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 20px;
    height: 20px;
    background-color: #507F62;
    border-radius: 50%;
    cursor: pointer;
  }
  
  
  /* Slider interact styling */
  input[type=range]::-webkit-slider-thumb:hover {
    background: #AB6DAC;
  }
  
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #AB6DAC, 0 0 7px #AB6DAC;
    -webkit-box-shadow: inset 0 0 3px #AB6DAC, 0 0 7px #AB6DAC;
  }
  
  
  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 7px;
    border-radius: 15px;
    width: 60%;
    background-color: #51A1C5;
    pointer-events: none;
  }
