@font-face {
  font-family: titleFont;
  src: url(fonts/Draconis.otf);
}

body{
  background-color: #FAF9F6;
}

.dashboard-title{
  margin-left: 340px;
  font-family: titleFont;
  font-size: 96px;
  font-weight: 400;
  margin-top: 0;
  color: #383937;
}