@font-face {
  font-family: titleFont;
  src: url(./fonts/Draconis.otf);
}


body{
  background-color: #FAF9F6;
  cursor: url('./cursor.gif'),auto;
}

.page-content{
  background-color: #FAF9F6;
}

.dashboard-title,.comp-title,.timeline-title {
  margin-left: 20%;
  font-family: titleFont;
  font-size: 96px;
  font-weight: 400;
  margin-top: -130vh;
  color: #383937;
  background-color: #FAF9F6;
}

.comp-title{
  margin-top: -337vh;
}

.timeline-title{
  margin-top: -120vh;
}

.dashboard-subtitle{
  margin-left: 20%;
  font-family: "bookmania", serif;
  color: #383937;
  background-color: #FAF9F6;
}

.header-con{
  width: 85% !important;
  height: 25vh !important;
  margin-left: 15% !important;
  text-align: center;
  background-color: #FAF9F6;
}

.chart-container{
  border: none !important;
  box-shadow: none !important;
}

.car-title{
  font-family: titleFont;
  font-size: 60px;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #383937;
}

.car-capt{
  font-family: "bookmania", serif !important;
}

.carousel-img{
  margin: 0 auto;
  width: auto;
}

.carousel-control-prev:hover, .carousel-control-next:hover, .slct-class-btn:hover{
  cursor: url('./cursor_down.gif'),auto !important;
}




.classModal{
  width: 100% !important;
}

.card-body{
  align-self: center;
}

.modal-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-card{
  width: 30%;
  margin: 5px;
  padding-top: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.modal-card:hover{
  cursor: url('./cursor_down.gif'),auto;
  border: 2px solid #51A1C5;
}


.dropdown-timeline-pg, .graph-parameter-input{
  width: 32.5%;
  padding: 5px;
  padding-top: 7px;
  margin-bottom: 2vh;
  margin-left: 22.5%;

  border: none !important;
  outline: none;
  border-radius: 3px;
  color: #FAF9F6 !important;
  background-color: #51A1C5;

  font-family: "bookmania", serif;

  cursor: url('./cursor.gif'),auto;
}

.graph-parameter-input{
  margin-left: 5%;
}

.dropdown-timeline-pg:hover ,.graph-parameter-input:hover{
  cursor: url('./cursor_down.gif'),auto;
}

footer{
  width: 85%;
  margin-left: 15%;
  margin-bottom: 0px !important;
  height: 15vh;
  background-color: #383937;
  color: #FAF9F6;

  padding-left: 5%;
  padding-top: 20px;

  font-family: titleFont;
}